* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: yellow;
	--primary-hover: rgba(255, 255, 0, 0.774);
	--background-color: rgb(14, 13, 13);
}

body {
	font-family: 'Indie Flower', cursive , Arial,sans-serif;
	color: var(--primary);
	background-color: var(--background-color);
	margin: 0px;
	padding: 0px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--background-color);
	z-index: 9999;
}

.nav__link {
	text-decoration: none;
	font-weight: bold;
	color: var(--primary);
	padding: 20px 30px;
}

.nav__link:hover {
	background-color: var(--primary-hover);
	color: var(--background-color);
}

section {
	margin: 10%;
}

#welcome {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#welcome h1 {
	font-size: 40px;
}

#about {
	background: var(--primary);
	color: var(--background-color);
	display: flex;
	border-radius: 5px;
}

.about__intro {
	padding: 20px 40px 20px 50px;
}

.about__intro h1 {
	font-size: 40px;
	margin-bottom: 50px;
}

.about__content {
	position: relative;
	flex-shrink: 1;
}

.about__quote {
	position: absolute;
	font-size: 35px;
	text-transform: uppercase;
	top: 5%;
	left: 5%;
	width: 80%;
}

.about__img {
	background-image: url(https://user-images.githubusercontent.com/31103446/221785822-4fd63c4a-87f7-46b4-a6ce-149f3b12a02c.png);
	background-size: cover;
	width: 300px;
	height: 400px;
	margin: 27% 50px 50px 100px;
}

#projects h1 {
	text-align: center;
	margin-bottom: 50px;
}

.projects__content {
	display: flex;
	flex-direction: column;
	padding: 0 10%;
}

.project.project--right {
	align-self: flex-end;
	align-items: flex-end;
}

.project {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.project__img {
	width: 80%;
	height: 80%;
	background-size: cover;
	border-radius: 5px;
}

.project__title {
	color: var(--primary);
}

.show-all {
	display: block;
	width: fit-content;
	text-decoration: none;
	border-radius: 10px;

	color: var(--primary);
	font-size: 50px;
	margin: 20px auto;
	text-align: center;
}

.show-all:hover {
	color: rgb(46, 225, 46);
}

#contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 280px;
}

#contacts h1 {
	margin-bottom: 50px;
}

.contacts-content {
	display: flex;
	align-items: center;
}

#contacts a {
	display: inline-block;
	line-height: 100px;
	width: 100px;
	height: 100px;

	text-align: center;
	border: solid;
	border-radius: 50%;
	text-decoration: none;
	color: var(--background-color);
	background-color: var(--primary);
	margin: 0 10px;
}

#contacts a:hover {
	background-color: var(--primary-hover);
}

footer {
	text-align: center;
	padding: 35px 0;
}

@media(max-width: 550px) {
	#about {
		flex-direction: column;
	}

	.about__quote {
		font-size: 25px;
	}

	.about__img {
		width: 175px;
		height: 260px;
	}
}
